#######################################
# Compiled source
#######################################
*.o
*.cmi
*.cmx
*.out

#######################################
# Vim temporary files
#######################################
*.swp
*.swo
